@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
}

.header{
    background-image:  url(images/desktop/image-header.jpg);
    width: 100%;
    height: 100vh;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(0, 0%, 100%);
}
.nav-bar{
    width: 100%;
justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 30px;
}
ul li, a{
    list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 0 5px;
  color: hsl(0, 0%, 100%);
  font-size: 22px;
}
.hamburger{
    width: 50px;
}
.hero-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-heading h1{
    font-size: 60px;
    font-family: 'Fraunces', serif;
    padding: 80px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.nav li,button{
    display: none;
}
.logo h2{
    font-size: 40px;
}

p{
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
font-family: 'Roboto', sans-serif;
}
.boxes{
    display: flex;
    width: 100%;
  flex-direction: column;

}
.column{
    width: 100%;
    display: flex;
    flex-direction: column; 
}
.column img{
    width: 100%;
}
.left h2{
    font-family: 'Fraunces', serif;
font-size: 40px;
margin-top: 70px;
width: 60%;
color: hsl(212, 27%, 19%);
margin-left: 40px;
}
.left p{
    color: hsl(232, 10%, 55%);
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    width: 68%;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
}
.span-1{
    text-decoration: underline;
    text-decoration-color: hsl(51, 100%, 49%);
    text-decoration-style: solid;
    margin-left: 40px;
    text-decoration-thickness: 40%;
    margin-bottom: 60px;
    display: block;
}
.span-2{
    text-decoration: underline;
    text-decoration-color: hsl(7, 99%, 70%);
    text-decoration-style: solid;
    margin-left: 40px;
    text-decoration-thickness: 40%;
    margin-bottom: 60px;
    display: block;
  
}
.boxes-2{
    display: flex;
    flex-direction: column;

}
.column-2{
        position: relative;
        text-align: center;
        top: -3px;
}
.column-2{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.column-2 img{
    width: 100%;
    object-position: center;
    object-fit: cover;
    display: block;
    height: 100%;
}
.nav button{
        border: none;
        background-color: hsl(0, 0%, 100%);
       color: black;
       padding: 15px 30px;
       border-radius: 30px;
       font-size: 22px;
       font-family: 'Fraunces', serif;
       text-transform: uppercase;
}
.side-bar{
        display: none;
}
.ontop{
    position: absolute;
    top: 280px;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hsl(198, 62%, 26%);
}
.sec{
    color: hsl(167, 40%, 24%);
}
.column-2 p{
    color: hsl(213, 9%, 39%);
}
.beneath{
    position: absolute;
    top: 280px;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: hsl(212, 27%, 19%);
    font-weight: 600;
}
.cherry{
    content: url(images/mobile/image-graphic-design.jpg);
}

.testimony-heading{
    font-family: 'Fraunces', serif;
    width: 100%;
    text-align: center;
}
.testimony-heading h1{
    color:  hsl(232, 10%, 55%);
    font-size: 30px;
    font-weight: 700;
padding-top: 180px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.people{
    display: flex;
    width: 100%;
    padding: 30px 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pep{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pep img{
    border-radius: 50%;
    width: 80px;
    margin:50px 0;
}
.pep p{
    width: 90%;
    text-align: center;
    font-size: 16px;
    color: hsl(213, 9%, 39%);
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 22px;
}
.names span{
    font-size: 25px;
    color: hsl(212, 27%, 19%);
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Fraunces', serif;
}
.names p{
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    color: hsl(232, 10%, 55%);
    margin-top: -25px;
}

.gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.gallery img{
    width: 100%;
   margin-top: -4px;
}

.footer{
    background-color: hsl(173, 44%, 68%);
    margin-top: -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
}
.footer h1{
    font-size: 35px;
    color: hsl(167, 95%, 15%);
    margin-bottom: 40px;
}
.footer li{
    font-size: 17px;
    color:hsl(168, 34%, 41%);
    margin-bottom: 50px;
    padding-left: 30px;
}
.socials{
    width: 100%;
    text-align: center;

}
.socials img {
    margin-left: 30px;
}
.attribution{
    background-color: hsl(173, 44%, 68%);
    padding: 30px 0;
    text-align: center;
}
.hamburger{
    cursor: pointer;
}












@media screen and (min-width:300px) {
    .header{
        background-image:  url(images/mobile/image-header.jpg);
    }
    .boxes{
        flex-direction: column;
    }
    .hero-heading h1{
        font-size: 40px;
        font-weight: 600;
    }
    .arrow{
        margin-top:160px;
    }
}

@media screen and (min-width:700px) {
    .header{
        background-image:  url(images/desktop/image-header.jpg);
    }
    .arrow{
        margin-top: 120px;
    }
}
@media screen and (min-width:1024px) {
    .header{
        background-image:  url(images/desktop/image-header.jpg);
    }
    .boxes{
        flex-direction: row;
    }
    .arrow{
        margin-top: 0;
    }
    .hamburger{
        display: none;
    }
    .nav li,button{
        display: inline-block;
    }
    .hero-heading h1{
        font-size: 60px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .left{
        width: 50%;
    }
    .right{
        width: 50%;
    }
    .column{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .box-2{
        flex-direction: row-reverse;
    }
    .boxes-2{
        display: flex;
        flex-direction: row;
    }
    .column-2{
            position: relative;
            text-align: center;
    }
    .column-2{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .column-2 img{
        width: 100%;
        height: 100%;
    }
    .cherry{
        content: url(images/desktop/image-graphic-design.jpg);
    }
    .people{
        flex-direction: row;
    }
    .gallery{
        flex-direction: row;
    }

}